@import url("https://css.gg/clipboard.css");
h1,
h3 {
    text-align: center;
}

p {
    text-align: center;
    color: #731010;
}

section {
    display: flex;
    flex-direction: column;
}


/*   FORM DISPLAY   */

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodbutton {
    border-radius: 10px;
    text-decoration: none;
    color: #1f1f1f;
    font-size: 16px;
    margin: 1rem 0.5rem;
}

.foodbutton label span {
    padding: 1rem;
    text-align: center;
    display: block;
    width: 40vw;
    border: 1px solid #731010;
    border-radius: 10px;
}

.foodbutton label input {
    position: absolute;
    display: none;
    width: 40vw;
}

.foodbutton input:checked+span {
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    border: 1px solid #731010;
    background-color: #d3b3b3;
    font-size: 16px;
    width: 40vw;
}

input {
    margin: 1rem;
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
}

#roomInput {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 3rem;
}

#selection {
    display: none;
}


/*   LOADING ROOM DISPLAY   */

#loadingRoom {
    display: none;
    flex-direction: column;
    align-items: center;
}

#loadingRoom button {
    margin-top: 10rem;
}

#playersInRoom {
    color: #731010;
}


/*   CHOOSE ANSWER DISPLAY   */

#chooseAnswerDisplay {
    display: none;
    flex-direction: column;
    align-items: center;
}

#confirmationModal {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 5rem 15rem;
    background-color: #d4d4d4e0;
    text-align: center;
}

.modalButton {
    margin: 0;
    width: 100%;
}

.modalButton#noConfirmAnswer {
    margin: 1rem 0;
    width: 100%;
    border: 1px solid #731010;
    background-color: #d4d4d4e0;
    color: #1f1f1f;
}


/*   FINAL ANSWER DISPLAY   */

#answerDisplay {
    display: none;
}