body {
    background-color: #ffd6b0;
    font-family: "Ubuntu", sans-serif;
}

h1 {
    color: black;
}

button {
    border: 0;
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #7c4511;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin: 0.5rem;
    width: 50%;
}

button:hover {
    background-color: #522d0b;
}

button:disabled {
    background-color: #7c451160;
    color: rgba(255, 255, 255, 0.404);
    border: 0;
}